a {
  padding: 0;
  text-decoration: none;
}
.col-lg-12, .col-md-12, .col-xl-12 {
  padding: 0;
}
#player {
  min-height: 300px;
  border: 1px solid #777;
}
#screen {
  padding: 0em;

}
.overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 1em;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  cursor: pointer;
  overflow-y: auto;
}
.media {
  margin-bottom: 1em;
}

#wrap {
  width: 100%;
  padding: 0;
}
.row {
  margin: 0;
}
#menu_logo h3 {
  line-height: 100%;
}

.active {
  border-bottom: 0.3em solid white;
}
.visible {
  visibility: visible;
}
.invisible {
  display: none;
}
